* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}
html {
    font-family: 'Poppins', sans-serif;
}
header {
    width: 80%;
    height: 50px;
    margin: 15px auto 0;
    display: flex;
    background-color: #757575 ;
    align-items: center;
    border-radius: 25px;
}
header .header-title {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
header .header-nav {
    width: 50%;
    text-align: center;
}
.header-nav a {
    text-decoration: none;
    color: #000000;
    padding: 5px;
    border-radius: 3px;
}
.header-nav a:hover {
    background-color: #000000;
    color: #757575;
}
main {
    width: 100%;
    height: auto;
    margin: 50px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.principalc {
    width: 450px;
    height: 450px;
    border-radius: 350px;
    background-color: orange;
}
.nucleo {
    width: 150px;
    height: 150px;
    border-radius: 75px;
    background-color: #079;
    position: absolute;
    top: 370px;
    right: 525px;
}
.nucleo-title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75px;
    height: 75px;
    border-radius: 50px;
    background-color: #700;
    position: absolute;
    top: 20px;
    right: 30px;
}
.nuc {
    position:absolute;
    transform: rotate(50deg);
    top: 70px;
    left: 80px;
}
.lisosoma {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    border-radius: 50px;
    background-color: #05f;
    position: absolute;
    top: 180px;
    right: 650px;
}
.mitocondria {
    width: 150px;
    height: 50px;
    background-color: #0f4;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(-30deg);
    position: absolute;
    top: 300px;
    right: 750px;
}
.ribosoma {
    width: 22px;
    height: 22px;
    border-radius: 11px;
    background-color: #690;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 500px;
    right: 750px;
}
.reticulo {
    width: 160px;
    height: 160px;
    border-radius: 75px;
    opacity: 1;
    position: absolute;
    top: 365px;
    right: 521px;
    border: 2px #333 double;
    transform: rotate(-50deg);
}
.reticulo1 {
    transform: rotate(-40deg);
    position: absolute;
    right: 100px;
    top: -20px;
}
.reticulo1 a {
    font-size: 12px;
    line-height: normal;
}
.peroxisoma {
    width: 22px;
    height: 22px;
    border-radius: 11px;
    background-color: #690;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 500px;
    right: 835px;
}
.centrosoma {
    width: 150px;
    height: 60px;
    border-radius: 30px 0 0 30px;
    background-color: #091;
    justify-content: center;
    align-items: center;
    position: absolute;
    display: flex;
    transform: rotate(40deg);
    top: 290px;
    right: 500px;
    flex-wrap: wrap;
}
.golgi {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background-color: #099;
    position: absolute;
    top: 330px;
    right: 700px;
    text-align: center;
}
footer {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
}
a {
    color: #000000;
    text-decoration: none;
}
section {
    width: 55%;
    text-align: center;
    margin-top: 10px;
}
.conclusion {
    position: absolute;
    width: 250px;
    height: 70%;
    background-color: #0CFDF6;
    right: 0%;
    border-radius: 10px 0 0 10px;
}
@media (min-width: 1000px){
    .nucleo {
        right: 320px;
    }
    .lisosoma {
        right: 470px;
    }
    .mitocondria {
        right: 570px;
    }
    .reticulo {
        right: 316px;
    }
    .peroxisoma {
        right: 620px;
    }
    .centrosoma {
        right: 320px;
        top: 240px;
    }
    .golgi {
        right: 520px;
    }
    .ribosoma {
        right: 670px;
    }
}
@media (min-width: 1050px){
    .nucleo {
        right: 350px;
    }
    .lisosoma {
        right: 500px;
    }
    .mitocondria {
        right: 600px;
    }
    .reticulo {
        right: 346px;
    }
    .peroxisoma {
        right: 650px;
    }
    .centrosoma {
        right: 350px;
        top: 270px;
    }
    .golgi {
        right: 550px;
    }
    .ribosoma {
        right: 700px;
    }
}
@media (min-width: 1100px){
    .nucleo {
        right: 350px;
    }
    .lisosoma {
        right: 500px;
    }
    .mitocondria {
        right: 600px;
    }
    .reticulo {
        right: 346px;
    }
    .peroxisoma {
        right: 650px;
    }
    .centrosoma {
        right: 350px;
        top: 270px;
    }
    .golgi {
        right: 550px;
    }
    .ribosoma {
        right: 710px;
    }
}
@media (min-width: 1200px){
    .nucleo {
        right: 400px;
    }
    .lisosoma {
        right: 550px;
    }
    .mitocondria {
        right: 650px;
    }
    .reticulo {
        right: 396px;
    }
    .peroxisoma {
        right: 750px;
    }
    .centrosoma {
        right: 400px;
        top: 270px;
    }
    .golgi {
        right: 600px;
    }
}
@media (min-width: 1250px){
    .nucleo {
        right: 450px;
    }
    .lisosoma {
        right: 600px;
    }
    .mitocondria {
        right: 700px;
    }
    .reticulo {
        right: 446px;
    }
    .peroxisoma {
        right: 800px;
    }
    .centrosoma {
        right: 450px;
        top: 270px;
    }
    .golgi {
        right: 650px;
    }
}
@media (min-width: 1350px){
    .nucleo {
        right: 480px;
    }
    .lisosoma {
        right: 630px;
    }
    .mitocondria {
        right: 730px;
    }
    .reticulo {
        right: 476px;
    }
    .peroxisoma {
        right: 830px;
    }
    .centrosoma {
        right: 480px;
        top: 270px;
    }
    .golgi {
        right: 680px;
    }
}
@media (min-width: 1350px){
    .nucleo {
        right: 500px;
    }
    .lisosoma {
        right: 650px;
    }
    .mitocondria {
        right: 750px;
    }
    .reticulo {
        right: 496px;
    }
    .peroxisoma {
        right: 850px;
    }
    .centrosoma {
        right: 500px;
        top: 270px;
    }
    .golgi {
        right: 700px;
    }
}@media (min-width: 1450px){
    .nucleo {
        right: 530px;
    }
    .lisosoma {
        right: 680px;
    }
    .mitocondria {
        right: 780px;
    }
    .reticulo {
        right: 526px;
    }
    .peroxisoma {
        right: 880px;
    }
    .centrosoma {
        right: 530px;
        top: 270px;
    }
    .golgi {
        right: 730px;
    }
}
